.main {
  display: flex;
  flex-direction: column;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  color: #333;
  max-width: var(--max-width);

  .work {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin: 1rem 0 1rem 0;
    padding: 0 4rem 4rem 4rem;
    background-color: #fff;
    border-radius: 10px 3px 5px 5px;
    box-sizing: border-box;

    .image {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 6px;
      .file {
        display: flex;
        flex-flow: row nowrap;
        margin: 3rem 0;
      }
      .link {
        display: contents;
      }
      .workcontainer {
        margin: 0 2rem 2rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .content {
      display: flex;
      flex: 1;
      flex-direction: column;

      .meta {
        font-size: 24px;
        font-weight: 700;

        .role {
          font-size: 14px;
          font-weight: lighter;
        }
        .year {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: #121212;
          color: #fff;
          width: 130px;
          height: 130px;
          border-radius: 50% 3% 50% 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          font-size: 18px;
        }
      }
      .products {
        .product {
          display: inline-block;
          border: 1px solid #ccc;
          margin: 2px;
          padding: 1px;
          border-radius: 4px;
        }
      }

      .header1 {
        font-size: 30px;
      }
      .blockquote {
        height: auto;
      }
    }
    @media (max-width: 700px) {
      width: 100%;
      padding: 0 2rem 2rem 2rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
