.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  padding: 5px;

  .work {
    background: #404040;
    color: #d8d8d8;
    /* padding: var(--small-breakpoint-padding); */
    margin: calc(var(--small-breakpoint-padding) / 2);
    border-radius: 12px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex: 1;

    position: relative;
    height: auto;

    .image {
      height: auto;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 6px;
      min-width: 400px;

      .file {
        margin: 1rem;
      }
    }

    .content {
      display: flex;
      flex: 2;
      flex-direction: column;

      .meta {
        color: #f4f4f4;
        font-size: 24px;
        font-weight: 700;
        /* position: absolute;
      bottom: 0px; */
      }
      .products {
        .product {
          display: inline-block;
          border: 1px solid #ccc;
          margin: 2px;
          padding: 1px;
          border-radius: 4px;
        }
      }
      .workcontainer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .header1 {
        font-size: 30px;
      }
      .blockquote {
        height: auto;
      }
    }
    @media (max-width: 700px) {
      width: 100%;
      /* .header1 {
      font-size: 60px;
    } */
      /* .blockquote {
      height: auto;
    } */
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
